<div class="fullpage">
    <div class="main">
        <div class="content">
            <h1>Gere seu certificado</h1>
            <h3>Aqui você pode gerar o seu certificado de conclusão apenas colocando seus dados. De forma simples e
                segura.</h3>

            <div class="form">

                <form action="/certificado" method="POST">
                   
                    <div class="input-block">
                        <label for="name">Nome</label>
                        <input type="text" id="student" name="student" />
                    </div>

                    <div class="input-block">
                        <label for="course">Curso</label>
                        <input type="text" id="course" name="course" />
                    </div>

                    <div class="input-block">
                        <label for="date">Data</label>
                        <input type="date" id="date" name="date" />
                    </div>

                    <button type="submit" value="submit" class="button">Gerar</button>

                </form>
            </div>
        </div>


    </div>

    <div class="aside">
        <img src="/images/certificate.svg" alt="Ilustration Certificate">
    </div>

</div>