<body style=" width: 1122px; height: 493px; font-size: 12pt; font-family: 'Sansita', 'sans-serif';"> 
   <div id="folha-a4" class="folha a4_horizontal" style="width: 922px; height: 493px; background-image: url(https://firebasestorage.googleapis.com/v0/b/certificado-80554.appspot.com/o/modelo-de-certificado-em-branco-5.png?alt=media&amp;token=5f6aaa6d-3cb2-49a3-b6a0-76108c482a1c);background-repeat: no-repeat;background-position: initial;background-size:80%; display: table-cell;
   vertical-align: middle">
   
   
    <div id="conteudo" style=" width: 750px; display: flex; flex-direction: column;  text-align: center; justify-content: center;">
        
        <strong style="font-style: oblique;">{{student}} </strong>
        <p>concluiu de forma satisfatória o curso </p>
        <strong style="font-style: oblique;">{{course}} </strong>
        <p>Concedido: {{date}}</p> 
        <br>
        <br>
         <div style="border-bottom: 1px solid black; width: 400px; margin-left: auto;
         margin-right: auto;"></div>
        <p>Assinatura</p>
    </div>
 </div> 

</body>

